<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
        <script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/1.35.0/iconfont/tabler-icons.min.css">
        <link rel="stylesheet" href="login logout php flask/static/css/product.css">
        <script src="./static/js/product.js"></script>
        <link rel="website icon" type="png" href="login logout php flask/static/logo.png">
        <title>{{ item['name'] }} | PSIT Place</title>
        <link rel="stylesheet" href="../static/CSS/product.css">
    </head>
    <body>
        <div class="card">
            <img onclick="showImgPreview('{{ item['img'] }}')" class="prod"
            src="{{ item['img'] }}">
            <p class="zoom-txt">กดที่รูปภาพเพื่อซูม</p>
            <p class="label">จัดส่งฟรี</p>
            <h1 class="title">{{ item['name'] }}</h1>
            <p class="price">{{ item['price'] }}. -</p>
            <a href="javascript:delay('{{ item['contact'] }}', 1000)">
                <button href="javascript:void(0)" onclick="showAlert('ช่องทางติดต่อผู้ขาย')" class="contact-btn">ติดต่อผู้ขาย</button>
            </a>
            <div class="green-dot"></div>
            <p class="stocks">Product in stock now!</p>
            <button class="fav-btn" onclick="showAlert('เพิ่มเข้ารายการโปรด!')">
                <svg xmlns="https://www.w3.org/2000/svg" class="icon-tabler-heart" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                </svg>
                Add to Favorite!
            </button>
        </div>
        <div class="preview-container">
            <div class="close-prev-btn" onclick="hidePreview()">
                <svg xmls="https://www.w3.org/2000/svg" class="icon-tabler-close" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
            <img id="prev-img" src="">
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="../static/js/product.js"></script>
    </body>
</html>
