<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="png" href="{{url_for('static', filename='img/logoresult.png')}}">
<title>Product Selling Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h2>Product Selling</h2>
	<form action="{{ url_for('seller') }}" method="post">
        {% if mesage is defined and mesage %}
			<div class="alert alert-warning">{{ mesage }}</div>
		{% endif %}
		<div class="form-group">
			<label for="prdname">Product Name:</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter product name" 
            name="name">
		</div>
		<div class="form-group">
			<label for="price">Price:</label>
			<input type="number" class="form-control" id="price" name="price" placeholder="Enter your price" name="price">
		</div>
		<div class="form-group">
			<label for="contact">Contact Link:</label>
			<input type="url" class="form-control" id="contact" name="contact" placeholder="Enter your contact link" name="contact">
		</div>
        <div class="form-group">
			<label for="img-url">Image URL:</label>
			<input type="url" class="form-control" id="img" name="img" placeholder="Enter your image url" name="img">
		</div>
		<button type="submit" class="btn btn-primary">Sell !</button>
		<p class="bottom">Back to <a class="bottom" href="{{url_for('index1')}}">Home</a></p>
	</form>
</div>
</body>
</html>
