@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
        background: #180148;
        padding: 22px;
        font-family: "Poppins";}
.card {
        border-radius: 18px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-shadow: 8px 0px 20px #d1d1d1;}
.prod {
        width: 140px;
        margin: 46px 25px 0px 50px;}
.zoom-txt {
        font-size: 10px;
        color: #b1b1b1;
        margin-left: 66px;}
.label {
        background: #121212;
        color: #fff;
        font-weight: 500;
        font-size: 11px;
        width: fit-content;
        padding: 4px 7px;
        border-radius: 99px;
        margin-top: -138px;
        margin-left: 220px;}
.title {
        font-size: 16px;
        font-weight: 600;
        margin-left: 220px;
        margin-right: 156px;}
.price {
        font-weight: 600;
        font-size: 35px;
        margin-left: 220px;
        margin-top: -10px;}
.contact-btn {
        margin-left: 220px;
        margin-top: -10px;
        background: #4787e9;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 12px 140px;
        border-radius: 5px;
        box-shadow: 0px 5px 0px #1e56f1;
        transition: .3s ease;
        border: none;
        font-family: "Poppins";}
.contact-btn:hover {
        background: #3c7ad8;
        box-shadow: 0px 3px 0px #1e56f1;
        cursor: pointer;
        transform: scale(0.95);}
.contact-btn:active {transform: scale(0.9);}
.green-dot {
        background: #00d889;
        width: 16px;
        height: 16px;
        border-radius: 99px;
        margin-left: 220px;
        margin-top: 22px;}
.stocks {
        margin-top: -16px;
        margin-left: 242px;
        font-size: 12px;}
.fav-btn {
        transition: .3s ease;
        margin-left: 220px;
        margin-top: 12px;
        padding: 8px 24px 18px 24px;
        background: #fff;
        border: 1px solid #c1c1c1;
        border-radius: 6px;
        font-family: "Poppins";
        font-size: 12px;}
.fav-btn svg {
        position: relative;
        top: 7px;
        right: 6px;}
.fav-btn:active {transform: scale(0.92);}
.preview-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 94%;
        height: 94%;
        background: #000000d6;
        z-index: 9;
        padding: 32px;}
.close-prev-btn {
        float: right;
        color: #121212;
        background: #fff;
        padding: 12px 12px 6px;
        margin-right: 32px;
        margin-top: 32px;
        border-radius: 99px;
        transition: .3s ease;}
.close-prev-btn:hover {
        cursor: pointer;
        transform: scale(0.8);}
#prev-img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 60%;
        border-radius: 22px;}
